.sobre-mi__studies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Hacer las cartas más pequeñas */
  gap: 50px; /* Aumentar el espacio entre las cartas */
  padding: 30px;
  justify-content: center;
}

/* Tarjetas de estudio con efecto vidrio */
.study-card {
  background: rgba(255, 255, 255, 0.15); /* Efecto translúcido */
  backdrop-filter: blur(10px); /* Difuminar fondo */
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  padding: 15px; /* Reducir el padding interno */
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: white;
  position: relative;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 210px; /* Tamaño reducido de las tarjetas */
}

/* Títulos dentro de las tarjetas */
.study-card h3 {
  font-size: 1.2rem; /* Mantener tamaño de fuente pequeño */
  margin-bottom: 5px; /* Reducir espacio debajo del título */
}

/* Párrafos dentro de las tarjetas */
.study-card p {
  font-size: 0.9rem; /* Mantener tamaño pequeño de fuente */
  margin-bottom: 5px; /* Reducir margen inferior */
  color: #e0e0e0;
}

/* Contenedor para el botón y la imagen al final */
.study-card-footer {
  margin-top: auto; /* Empuja el contenido hacia el fondo */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrar la imagen y el botón */
  align-items: center;
}

/* Estilo del botón */



/* Imagen centrada dentro de la tarjeta */
.study-card-footer img {
  width: 200px; /* Reducir el tamaño de la imagen */
  height: auto;
  margin-top: 6px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* Garantiza que la imagen se mantenga centrada */
}

/* Efecto hover */
.study-card:hover {
  transform: translateY(-5px) scale(1.03);
  box-shadow: 0 20px 30px rgba(255, 255, 255, 0.4);
}

/* Efectos de luz dinámica */
.study-card::before,
.study-card::after {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  top: -25%;
  left: -25%;
  background: radial-gradient(circle, rgba(247, 233, 233, 0.13), transparent);
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.study-card:hover::before,
.study-card:hover::after {
  opacity: 1;
}
