/* Variables globales */
:root {
  --primary-color: #646cff;
  --primary-hover: #535bf2;
  --text-color-light: rgba(255, 255, 255, 0.87);
  --text-color-dark: #213547;
  --bg-dark: #242424;
  --bg-light: #ffffff;

  font-family: 'Montserrat', sans-serif;
  line-height: 1.4;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fade-on-scroll {
  transition: opacity 0.3s ease;
}


/* Estilos generales */
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-dark);
  color: var(--text-color-light);
  overflow-y: scroll; /* Asegura el scroll vertical */
}


/* Enlaces */
a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: none;
}
a:hover {
  color: var(--primary-hover);
}

/* Botones generales */
.general-button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.general-button:hover {
  border-color: var(--primary-color);
}
.general-button:focus,
.general-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Tipografía */
h1 {
  font-size: 10.2em;
  line-height: 1.1;
}

/* Contenedor principal (para limitar el alcance de los estilos) */
/*.main-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}*/

/* Modo claro */
@media (prefers-color-scheme: light) {
  :root {
    color: var(--text-color-dark);
    background-color: var(--bg-light);
  }
  a:hover {
    color: #747bff;
  }
  .general-button {
    background-color: #f9f9f9;
  }
}
